/**
 * Objects \ Container
 * =============================================================================
 */

.o-container {
	position:      relative;
	margin:        0 auto;
	padding-right: rem($unit);
	padding-left:  rem($unit);
	max-width:     rem($max-width) + rem($unit * 2);
}
