/**
 * Base \ Page
 * =============================================================================
 */

html {
	color:       $base-color;
	font-size:   $base-font-size;
	font-family: $base-font-family;
	line-height: $base-line-height;
}
