// =============================================================================
// Settings \ Layout
// =============================================================================

// Container
// =============================================================================

$max-width: 2000px;


// Spacings
// =============================================================================

// $xs-unit: 10px;
// $sm-unit: 20px;
$md-unit: 30px;
// $lg-unit: 60px;

$unit: $md-unit;


// Componenets
// =============================================================================



// Screen widths
// =============================================================================

$from-tiny:   375px;
$to-tiny:     $from-tiny - 1;
$from-small:  700px;
$to-small:    $from-small - 1;
$from-medium: 1000px;
$to-medium:   $from-medium - 1;
$from-large:  1280px;
$to-large:    $from-large - 1;
$from-big:    1440px;
$to-big:      $from-big - 1;
$from-huge:   1680px;
$to-huge:     $from-huge - 1;
